<template>
    <div>
        <Head title="Create User"/>
        <nav class="flex mb-10" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-sm text-blue-700 hover:text-slate-800">
                        <icon name="home" />
                    </a>
                </li>
                <li class="inline-flex items-center">
                    <a href="/users" class="inline-flex items-center">
                        <icon name="cheveron-right" />
                        <span class="ml-1 text-sm font-medium text-blue-700 md:ml-2 hover:text-slate-800">Users</span>
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <icon name="cheveron-right" />
                        <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2">Create User</span>
                    </div>
                </li>
            </ol>
        </nav>

        <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
            <form @submit.prevent="store">
                <div class="flex flex-wrap -mb-8 -mr-6 p-8">
                    <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Name"/>
                    <text-input v-model="form.email" :error="form.errors.email" class="pb-8 pr-6 w-full lg:w-1/2" label="Email"/>
                    <text-input v-model="form.password" :error="form.errors.password" class="pb-8 pr-6 w-full lg:w-1/2" type="password" autocomplete="new-password" label="Password"/>
                    <select-input v-model="form.owner" :error="form.errors.owner" class="pb-8 pr-6 w-full lg:w-1/2" label="Owner">
                        <option :value="1">Yes</option>
                        <option :value="0">No</option>
                    </select-input>
                </div>
                <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
                    <loading-button :loading="form.processing" class="bg-indigo-400 text-white rounded py-2 px-4 hover:bg-indigo-500 ml-auto" type="submit">Create User</loading-button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3'
import TextInput from '../../Shared/TextInput'
import SelectInput from '../../Shared/SelectInput'
import LoadingButton from '../../Shared/LoadingButton'
import Icon from "../../Shared/Icon";

export default {
    components: {
        Head,
        Link,
        Icon,
        LoadingButton,
        SelectInput,
        TextInput,
    },
    remember: 'form',
    setup() {
        let form = useForm({
            id: '',
            name: '',
            email: '',
            owner: false,
            password: '',
        });
        return {form};
    },
    methods: {
        store() {
            this.form.post('/users');
        },
    }
}
</script>
