<template>
    <Head title="Show User"/>

    <nav class="flex mb-10" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="/" class="inline-flex items-center text-sm text-blue-700 hover:text-slate-800">
                    <icon name="home" />
                </a>
            </li>
            <li class="inline-flex items-center">
                <a href="/users" class="inline-flex items-center">
                    <icon name="cheveron-right" />
                    <span class="ml-1 text-sm font-medium text-blue-700 md:ml-2 hover:text-slate-800">Users</span>
                </a>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <icon name="cheveron-right" />
                    <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2">{{ user.name }}</span>
                </div>
            </li>
        </ol>
    </nav>

    <h1 class="mt-6 text-3xl">{{ user.name }}</h1>
    <p class="mt-4">{{ user.email }}</p>
    <p class="mt-4">Registered: {{ user.created_at }}</p>

</template>

<script>

import {Head, Link} from "@inertiajs/inertia-vue3";
import Icon from "../../Shared/Icon";

export default {
    components: {
        Head,
        Link,
        Icon
    },
    props: {
        user: Object,
    },
}
</script>
