<template>
    <div class="relative flex min-h-screen">
        <!-- Sidebar-->
        <div
            class="bg-slate-900 text-slate-200 w-64 space-y-6 px-2 py-4 absolute inset-y-0 left-0 md:relative md:-translate-x-0 transform -translate-x-full transition duration-200 ease-in-out"
            :class="{'relative -translate-x-0': showSidebar}">

            <Sidenav/>

        </div>

        <!-- Main Content-->
        <div class="flex-1">

            <!-- Header-->
            <div class="flex items-center bg-white shadow px-2 py-4">
                <button @click="showSidebar = !showSidebar" class="text-slate-600 font-bold md:hidden">
                    <icon name="hamburger" />
                </button>

                <div class="ml-auto">

                    <MenuDropdown />

                </div>
            </div>

            <!-- Sidebar-->
            <div class="p-8">

                <flash-messages />
                <slot/>

            </div>
        </div>
    </div>
</template>


<script>
import Sidenav from "./Sidenav";
import MenuDropdown from "./MenuDropdown";
import {ref} from "vue";
import Icon from "./Icon";
import FlashMessages from '../Shared/FlashMessages'

export default {
    setup() {
        const showSidebar = ref(false);
        return {
            showSidebar,
        }
    },
    components: {
        Sidenav,
        MenuDropdown,
        Icon,
        FlashMessages,
    },
}
</script>
