<template>
    <Menu as="div" class="relative inline-block">
        <div>
            <MenuButton
                class="inline-flex justify-center py-2 text-sm font-medium hover:text-slate-500">
                {{ username }}
                <icon name="cheveron-down" />
            </MenuButton>
        </div>

        <transition
            enter-active-class="transition duration-100 ease-out"
            enter-from-class="transform scale-95 opacity-0"
            enter-to-class="transform scale-100 opacity-100"
            leave-active-class="transition duration-75 ease-in"
            leave-from-class="transform scale-100 opacity-100"
            leave-to-class="transform scale-95 opacity-0"
        >
            <MenuItems
                class="absolute right-0 w-56 mt-2 origin-top-right bg-slate-900 divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                <div class="px-1 py-1">
                    <NavLink :href="'/users/' + userId + '/edit'">
                        <span class="text-white group-hover:text-slate-300 transition duration-200">My Profile</span>
                    </NavLink>
                    <NavLink href="/users">
                        <span class="text-white group-hover:text-slate-300 transition duration-200">Users</span>
                    </NavLink>
                    <NavLink href="/logout" method="POST">
                        <span class="text-white group-hover:text-slate-300 transition duration-200">Logout</span>
                    </NavLink>
                </div>
            </MenuItems>
        </transition>
    </Menu>
</template>

<script>
import NavLink from "./NavLink";
import {Menu, MenuButton, MenuItems,} from "@headlessui/vue";
import Icon from "./Icon";

export default {
    name: "MenuDropdown",
    components: {
        NavLink,
        Menu,
        MenuButton,
        MenuItems,
        Icon
    },
    computed: {
        username() {
            return this.$page.props.auth.user.username;
        },
        userId() {
            return this.$page.props.auth.user.id;
        }
    },
}
</script>
