<template>
    <Link
        class="group flex items-center space-x-2 py-3 px-4 hover:bg-slate-700 rounded hover:text-slate-300 transition duration-200"
        :class="{'bg-slate-500' : active}">
        <slot/>
    </Link>
</template>

<script>

export default {
    props: {
        active: Boolean
    }
}
</script>
