<template>
    <a href="" class="flex items-center space-x-2 px-4">
        <icon name="logo" class="h-10 w-10" />
        <span class="text-2xl text-white">{{ appName }}</span>
    </a>

    <nav>
        <NavLink href="/" :active="$page.component === 'Home'">
            <icon name="home" />
            <span class="text-white group-hover:text-slate-300 transition duration-200">Dashboard</span>
        </NavLink>
        <NavLink href="/settings" :active="$page.component === 'Settings/Index'">
            <icon name="cog" />
            <span class="text-white group-hover:text-slate-300 transition duration-200">Settings</span>
        </NavLink>
    </nav>
</template>

<script>
import NavLink from "./NavLink";
import Icon from '../Shared/Icon';

export default {
    components: { NavLink, Icon, },
    computed: {
        appName() {
            return this.$page.props.appName;
        },
    }
}
</script>
