<template>
    <Head title="Login" />

    <div class="flex items-center justify-center p-6 min-h-screen bg-indigo-800">
        <div class="w-full max-w-md">
            <icon name="logo" class="block mx-auto w-full max-w-xs text-white" height="50" />
            <form class="mt-8 bg-white rounded-lg shadow-xl overflow-hidden" @submit.prevent="submit">
                <div class="px-10 py-12">
                    <h1 class="text-center text-3xl font-bold">Welcome Back!</h1>
                    <div class="mt-6 mx-auto w-24 border-b-2" />
                    <text-input v-model="form.email" :error="form.errors.email" class="mt-10" label="Email" type="email" autofocus autocapitalize="off" />
                    <text-input v-model="form.password" :error="form.errors.password" class="mt-6" label="Password" type="password" />
                </div>
                <div class="flex px-10 py-4 bg-gray-100 border-t border-gray-100">
                    <loading-button :loading="form.processing" class="bg-indigo-400 text-white rounded py-2 px-4 hover:bg-indigo-500 ml-auto" type="submit">Login</loading-button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import TextInput from '../../Shared/TextInput'
import LoadingButton from '../../Shared/LoadingButton'
import Icon from '../../Shared/Icon';

export default {
    layout: null,
    components: {
        LoadingButton,
        TextInput,
        Icon
    }
}
</script>

<script setup>
import {useForm} from "@inertiajs/inertia-vue3";

let form = useForm({
    email: 'john@example.com',
    password: 'SillyString',
});

let submit = () => {
    form.post('/login');
};
</script>
